* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Hero Section */

.show-content {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    #41b8b3 100%
  );
  background: -webkit-linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    #41b8b3 100%
  );
  background: linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    rgba(52, 73, 94, 1) 0%,
    rgba(65, 184, 179, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#41b8b3",GradientType=1);
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-content h2 {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: capitalize;
  max-width: 600px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
}

.show-content a {
  text-decoration: none;
  color: rgb(189, 255, 246);
  font-size: 1.7rem;
}

.show-content p {
  width: 450px;
  text-align: center;
  text-transform: capitalize;
  line-height: 35px;
  margin-bottom: 50px;
}

.click-to-show-content {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 9px;
  padding: 15px 40px;
  color: white;
  cursor: pointer;
}

.click-to-show-content a {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.click-to-show-content:hover {
  background-color: #34495e;
}

.go-to-table-button {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  margin-top: 40px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.go-to-table-button svg {
  padding-right: 5px;
}

.go-to-table-button a {
  font-size: 1.2rem;
  color: white;
}

.go-to-table-button:hover {
  color: #ffffff;
}

.go-to-table-button {
  display: none;
}

/* Table */

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  text-align: center;
  cursor: pointer;
}

td {
  padding: 25px 25px;
  color: #34495e;
}

th {
  background-color: #34495e;
  border: none;
  padding: 25px 25px;
  color: #ffffff;
}

.tr-tbody:hover {
  background-color: #e7fffd;
}

.table-container {
  display: none;
}

/* Responsive for Mobile Screens */

@media only screen and (max-width: 600px) {
  .show-content h2 {
    font-size: 1.5rem;
    max-width: 350px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .show-content a {
    font-size: 1.2rem;
  }

  .show-content p {
    max-width: 350px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .click-to-show-content {
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 9px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .click-to-show-content a {
    font-size: 1rem;
    font-weight: bold;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    border-bottom: 4px solid #34495e;
    padding: 20px 40px;
  }

  table td {
    border-bottom: 1px solid #d9d9d9;
    display: block;
    font-size: 1rem;
    text-align: center;
  }

  table tr:last-child {
    border-bottom: 0;
  }

  table td:first-child {
    color: #ffffff;
    font-weight: bold;
    background-color: #34495e;
    border-radius: 100%;
    width: 0.2rem;
    height: 0.2rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
